.row {
  align-items: flex-start;
  
}

.profile {
  color: var(--light-grey);
}

/*Columna izquierda*/
.profile__main, .profile__education, .profile__licenses, .profile__about_me {
  padding: 2rem;
  background-color: var(--medium-grey);
  border-radius: 10px;
  margin-bottom: 1rem;
  letter-spacing: 1px;
}

.profile__photo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

.profile__name {
  margin-bottom: 1rem;
}

.profile__photo-image {
  width: 100%;
  max-width: 170px;
  height: 100%;
  max-height: 170px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}

.profile__location {
  margin-top: 2rem;
}


/* Columna derecha*/
.profile__sidebar {
  color: var(--mint-green);
  padding: 2rem;
  background-color: var(--medium-grey);
  border-radius: 10px;
  
}





