{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html' %}

<main class="main">
    <div class="container  about">
        <h1 class="about__title montserrat-2">About Us</h1>
        <p class="about__description montserrat-1">At Audit IA, we are passionate about simplifying quality management and empowering businesses to achieve
            excellence. Our mission is to bridge the gap between complex ISO 9001 standards and practical, actionable
            insights through the power of artificial intelligence.

            Founded with a vision to revolutionize how organizations approach compliance, Audit IA combines cutting-edge
            AI technology with deep expertise in quality management systems. Our platform provides personalized,
            real-time guidance, enabling users—from small startups to large enterprises—to navigate the intricacies of
            ISO 9001 with confidence and efficiency.

            We believe that compliance should not be a burden but an opportunity for growth. That’s why we’ve built an
            intuitive, user-friendly solution that delivers expert advice at your fingertips, tailored to your unique
            needs. With Audit IA, you’re not just meeting standards—you’re setting them.

            Join us on this journey to smarter, simpler, and more effective quality management. Let’s build a future
            where excellence is within everyone’s reach.</p>
    </div>
</main>




{% endblock %}