{% extends 'base.html' %}

{% block content %}

<div class="container home">
    <h1 class="homr__title montserrat-1">Welcome {% if request.user.is_authenticated %} {{request.user.username|title}} {% endif %}to
        AuditAI!</h1>
    <p class="home__info montserrat-2 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos est amet, quasi ipsa laboriosam
        reiciendis
        architecto officiis dolores ipsam in! Eligendi magnam ipsam odit quo excepturi, saepe facilis! Suscipit, nihil!
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit provident mollitia repudiandae nemo unde
        corporis dolore placeat reiciendis vero numquam deleniti iure rerum tenetur ipsum dolorum odio autem, expedita
        reprehenderit.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro quae ullam non id suscipit ad repudiandae
        praesentium fugit tempora dolores vero nihil rerum incidunt corrupti, distinctio dolor veniam, sed impedit?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam neque non in, minima, dicta laborum aspernatur
        impedit ipsum quos eos soluta unde alias libero dignissimos accusamus rerum provident delectus inventore.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos est amet, quasi ipsa laboriosam reiciendis
        architecto officiis dolores ipsam in! Eligendi magnam ipsam odit quo excepturi, saepe facilis! Suscipit, nihil!
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit provident mollitia repudiandae nemo unde
        corporis dolore placeat reiciendis vero numquam deleniti iure rerum tenetur ipsum dolorum odio autem, expedita
        reprehenderit.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro quae ullam non id suscipit ad repudiandae
        praesentium fugit tempora dolores vero nihil rerum incidunt corrupti, distinctio dolor veniam, sed impedit?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam neque non in, minima, dicta laborum aspernatur
        impedit ipsum quos eos soluta unde alias libero dignissimos accusamus rerum provident delectus inventore.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos est amet, quasi ipsa laboriosam reiciendis
        architecto officiis dolores ipsam in! Eligendi magnam ipsam odit quo excepturi, saepe facilis! Suscipit, nihil!
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit provident mollitia repudiandae nemo unde
        corporis dolore placeat reiciendis vero numquam deleniti iure rerum tenetur ipsum dolorum odio autem, expedita
        reprehenderit.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro quae ullam non id suscipit ad repudiandae
        praesentium fugit tempora dolores vero nihil rerum incidunt corrupti, distinctio dolor veniam, sed impedit?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam neque non in, minima, dicta laborum aspernatur
        impedit ipsum quos eos soluta unde alias libero dignissimos accusamus rerum provident delectus inventore.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos est amet, quasi ipsa laboriosam reiciendis
        architecto officiis dolores ipsam in! Eligendi magnam ipsam odit quo excepturi, saepe facilis! Suscipit, nihil!
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit provident mollitia repudiandae nemo unde
        corporis dolore placeat reiciendis vero numquam deleniti iure rerum tenetur ipsum dolorum odio autem, expedita
        reprehenderit.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro quae ullam non id suscipit ad repudiandae
        praesentium fugit tempora dolores vero nihil rerum incidunt corrupti, distinctio dolor veniam, sed impedit?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam neque non in, minima, dicta laborum aspernatur
        impedit ipsum quos eos soluta unde alias libero dignissimos accusamus rerum provident delectus inventore.
    </p>
</div>

{% endblock %}