 
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de datos SQLite


venv/
# Migraciones compiladas
**/migrations/*.pyc
**/migrations/__pycache__/

# Logs y caché
*.log
*.pot
*.pyc
*.swp
*.swo

# VSCode
.vscode