{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html' %}
<main class="main">
    <div class="container chat">

        <h1 class=" chat__title  chat__title montserrat-1">Welcome {% if request.user.is_authenticated %}
            {{request.user.username|title}}
            {% endif %} to AuditAI.</h1>
        <h4 class="chat__subtitle  montserrat-2"> Our AI is ready to assist you with ISO standards.</h4>

        <form action="{% url 'client_input' %}" method="POST"  class="chat__form">
            {% csrf_token %}
            <div class="chat__input-group">
                <textarea class="chat__textarea montserrat-2" name="client_input" placeholder="Ask about ISO standards..." id=""  rows="3"></textarea>
                <button class="chat__button montserrat-2 btn" type="submit">Send</button>
            </div>
        </form>
    </div>
</main>


{% endblock %}