
.chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 52rem;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    height: 68vh; 
    background-color: aliceblue;
}

.chat__history {
    background-color: var(--dark-grey);
    color: var(--light-grey);
    padding:0rem 2rem;
    height: 14rem;
    background-color: rgb(3, 30, 99);
}


.chat__title {
    color: var(--mint-green);
}

.chat__subtitle {
    color: var(--light-grey);
    margin-bottom: 4rem;
}

.chat__form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0rem 2rem;
    position: fixed;
    bottom: 1rem;
    z-index: 20;
}

.chat__input-group {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
}

.chat__textarea {
    border-radius: 8px 0 0 8px;
    background-color: var(--medium-grey);
    z-index: 100;
    padding: 1rem;
    flex-grow: 1;
    max-width: 49rem;
    color: var(--light-grey);
    &:focus {
        border-color: var(--mint-green);
        outline: none;
        box-shadow: 0 0 0 3px rgba(0, 204, 153, 0.1);
    }
}

.chat__button {
    padding: 1rem;
    border-radius: 0 8px 8px 0;

    &:hover {
        transform: none;
        background-color: #00A378;
    }
}