.singleMessage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--medium-grey);
    padding: 2.5rem;
    color: var(--light-grey);
}


.singleMessage__author {
    color: var(--mint-green);
    text-decoration: none;
}

.singleMessage__date {
    margin-top: 1rem;
    font-size: 0.7rem;
}

