{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html' %}

<main class="main">
  <div class="container">
    <div class="row profile">
      <div class="col-md-9">
        <div class=" profile__main">
          <section class="profile__photo">
            <img src="{{auditor.profile_image.url}}" class="profile__photo-image" alt="Foto del auditor">
          </section>

          <div class="profile__description">
            <h4 class="profile__name"><strong>{{auditor.name}}</strong> <strong>{{auditor.surname}}</strong></h4>
            <p>{{auditor.competency|title}} Auditor</p>
            <h6 class="profile__location"><strong>
                {% if auditor.location and auditor.country %}
                {{ auditor.location }}, {{auditor.country}}
                {% endif %}

              </strong></h6>
          </div>
        </div>
        <div class="profile__about_me">
          <h4>About Me</h4>
          <p>{{auditor.bio}}</p>
        </div>
        <div class="profile__education">
          <h4>Education</h4>
        </div>
        <div class="profile__licenses">
          <h4>Licenses and Certifications</h4>
        </div>
  
      </div>

      <!------------------ COLUMNA DERECHA ------------------------------>
      <div class="col-md-3   profile__sidebar">
        <section class="profile__iso_standars">
          <h5 class="profile__iso_standars-title">Iso Standards:</h5>
          <ul>
            {% for standard in auditor.iso_standards.all %}
            <li>{{standard}}</li>
            <br>
            {% endfor %}
          </ul>
        </section>
      </div>
      
    </div>
  </div>
</main>



{% endblock %}


