{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html' %}

<main class="main auditors">
  <div class="container ">
    <div class="section-header">
      <h1 class="montserrat-2"> Connect with certified professionals worldwide
      </h1>
    </div>
    
    <div class="row g-5" >
      {% for auditor in auditors %}
      <div class="col-sm-6 col-md-4 col-lg-3">
        <a href="{% url 'auditor-profile' auditor.id %}" class="auditor__card">
        <div class="card h-100  " >
          <div class="img-wrapper">
            <img src="{{auditor.profile_image.url}}" class="card-img-top" alt="...">
          </div>
          <div class="card-body ">
            <h5 class="card-title montserrat-2 text-center">{{auditor.name.capitalize}}
              {{auditor.surname.capitalize}}</h5>
            <div class="competencies text-center ">
              <span>Competency: {{auditor.competency}}</span>
              <br>
              <span>Iso_standard: {% for standard in auditor.iso_standards.all|slice:2 %} {{standard.code}} {% if not forloop.last %}- {% endif %} {% empty %}
                None assigned{% endfor %} </span>
              
            </div>

          </div>
        </div>
      </a>
      </div>
      {% endfor %}
    </div>
   
  </div>
</main>
{% endblock %}