{% extends 'base.html' %}

{% block content %}

<main class="main">
    <div class="container">
      <section class="profile">
        <div class="go-back__container">
          <a href="{% url  'chat' %}" class="go-back"><</a>
        </div>
        <h3 style="color:white;" class="text-center">Welcome to your profile {{ client.name|title }}.</h3>
        
        <div class="profile__section profile__section--header ">
          <div class="profile__image-container">
            <img class="profile__image" src="{{client.company_logo.url}}"
              alt="Profile image of {{ client.name|title }}">
          </div>
  
          <div class="profile__info--container ">
            <h1 class="profile__name ">{{client.name}} </h1>
            <p><strong>Document:</strong>{{client.document}}</p>
            <p><strong>Phone Number:</strong>{{client.phone_number}}</p>
            <p><strong>Email Address:</strong>{{client.email}}</p>
            
        
          </div>
          <div class="profile__info--edit">
            <a  href="{% url 'client-edit-account' client.id %}" class="btn btn-edit">Edit Profile</a>
          </div>
        </div>

      </section>
    </div>
  </main>
  

{% endblock %}