{% extends 'base.html' %}
{% block content %}


<main class="main ">

  <div class="form-box">
    <div class="go-back__container">
      <a href="{% url  'client-profile'  %}" class="go-back"><</a>
    </div>
    <h2 class="profile-title text-center">Complete Your Client Profile</h2>
    <p class="profile-instructions text-center">To proceed, please fill out your profile with the required information. All fields are mandatory to ensure we have the necessary details for your account. Thank you!</p>
    <div class="form-wrapper">
      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div class="field-group">

          {{field.label}}
          {{field}}
          <p style="color: red;">{{field.errors}}</p>

          {% endfor %}
        </div>
        <div class="alt-section">
          <button class="btn" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</main>

{% endblock %}