:root {

    --dark-blue: #003366;
    --mint-green: #00CC99;
    --light-grey: #F5F5F5;
    --dark-grey: #333333;
    --soft-yellow: #FFD700;


    --alert-success: #00cc9925;
    --alert-error: rgba(231, 72, 72, 0.372);

}