/* Estilos base para los botones */
.btn  {
    padding: 0.75rem 1.5rem;
    background-color: var(--mint-green);
    color: var(--light-grey);
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-align: center;
    display: inline-block;
}

 .btn-upload-files {
    font-size: 0.9rem;
    padding:0.55rem 1rem;

}



/* Efecto hover para los botones */
.btn:hover {
    /* background-color: darken(var(--mint-green), 10%); */
    transform: scale(1.05); 
    color: var(--dark-grey);
    background-color: var(--light-grey)
}


.go-back__container {
    background-color: var(--dark-grey);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}


.go-back {  
    text-decoration: none;
    font-size: 2.5rem;
    color: var(--mint-green);
}

.go-back2 {
    text-decoration: none;
    font-size: 2.5rem;
    color: var(--mint-green);
    background-color: var(--medium-grey);
}