.footer {
  flex: 1;
  margin-top: 3rem;
  background-color: var(--medium-grey);
  padding: 2rem;
  width: 100%;
  position: relative;
}

.footer__container {
  color: var(--mint-green);
}

.footer__container h3 {
  color: var(--light-grey);
  font-size: 1.4rem;
}

.footer__container p {
  color: var(--light-grey);
  font-size: 0.8rem;
}

.footer__container a {
  color: var(--mint-green);
}



.copyright {
  margin-top: 4rem;
}



@media (max-width: 768px) {
  .main {
    padding-bottom: 1rem;
  }

  .footer {
    padding: 1.5rem;
  }

  .footer__container h3 {
    font-size: 1.2rem;
  }

  .footer__container p {
    font-size: 0.7rem;
  }
}