.auth {
    max-width: 400px;
    margin: 2rem auto;
    padding: 2rem;
    background: var(--medium-grey);
    border-radius: 12px;
    border: 1px solid var(--light-grey);
    

}

.auth__header {
    text-align: center;
    margin-bottom: 2rem;
}

.auth__header h1 {
    font-size: 2rem;
    color: var(--mint-green);
    margin-bottom: 0.5rem;
}

.auth__header p {
    font-size: 1rem;
    color: var(--light-grey);

}


.form__container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

}

.form__field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--light-grey);
}

.form__field label {
    font-size: 0.9rem;
    color: var(--light-gray);
    font-weight: 500;

}

.form__field .input {
    padding: 0.75rem;
    border: 1px solid var(--light-gray);
    border-radius: 8px;
    font-size: 1rem;
    color: var(--light-grey) !important;
    transition: border-color 0.3s ease;
    background-color: var(--medium-grey) !important;
    background-clip: padding-box !important;
    box-shadow: inset 0 0 0 1000px var(--medium-grey) !important;

}




.form__field .input:focus {
    border-color: var(--mint-green) !important;
    outline: none !important;
    box-shadow: 0 0 0 1px var(--mint-green) !important;
}

.auth__actions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}


.auth__actions a {
    color: var(--mint-green);
    text-decoration: none;
    font-size: 0.9rem;
    transition: color 0.3s ease;
}

.auth__actions a:hover {
    color: darken(var(--mint-green), 10%);
}

/* Estilos para la sección de alternativa (registro) */
.auth__altenative {
    text-align: center;
    margin-top: 1.5rem;
    color: var(--light-grey);
}

.auth__altenative p {
    font-size: 0.9rem;
    color: var(--medium-gray);
    margin-bottom: 0.5rem;
}

.auth__altenative a {
    color: var(--mint-green);
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

.auth__altenative a:hover {
    color: darken(var(--mint-green), 10%);
}