
.navbar {
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-grey);

}

.navbar-links {
    display: flex;
    gap: 2rem;
    margin-right: 3rem;
}


.navbar__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    
    text-decoration: none;
    color: var(--light-grey);
    transition: color 0.3s ease, transform 0.3s ease;
    display: block !important; 

    &:hover {
        color: var(--mint-green);
        text-decoration: underline;
        transform: scale(1.1);
        transform-origin: center;
    }
}

.navbar-toggler-icon {
    filter: invert(47%) sepia(84%) saturate(1350%) hue-rotate(140deg) brightness(90%) contrast(90%);
    border-color: var(--mint-green);
  }

  
  
  .navbar-toggler:focus {
    box-shadow: 0 0 0 0.25rem rgba(0, 204, 153, 0.25); /* Sombra de foco en tono similar */
  }

/* ----------------MEDIA QUERIES -----------------*/

@media (min-width: 768px) {
    .navbar__links {
        margin-right: 7rem;
        /* Margen más grande en pantallas grandes */
    }
}