.navbar {
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-grey);

}

.navbar__links {
    display: flex;
    gap: 3rem;
    margin-right: 2rem;
}


.navbar__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__link {
    
    text-decoration: none;
    color: var(--light-grey);
    transition: color 0.3s ease, transform 0.3s ease;
    display: block !important; 

    &:hover {
        color: var(--mint-green);
        text-decoration: underline;
        transform: scale(1.1);
        transform-origin: center;
    }
}

/* ----------------MEDIA QUERIES -----------------*/

@media (min-width: 768px) {
    .navbar__links {
        margin-right: 7rem;
        /* Margen más grande en pantallas grandes */
    }
}