{% block content %}
<section class="footer">
  <div class="footer__container container">
    <div class="row">
      <div class="col-6 text-center col-left" >
        <div>
          <h3 class="">Contact Us</h3>
          <p class="">Email: <a href="" class="">contact@auditai.com</a></p>
          <p class="">Phone: +54 11 1234-5678</p>
          <p class="">Address: Av. Principal 123, Buenos Aires, Argentina</p>
          <a href="" class="">Contact Form</a>
        </div>
      </div>
      <div class="col-6 text-center col-right" >
        <h3 class="">AuditAI</h3>
        <p class="">Leveraging AI to revolutionize auditing processes, ensuring transparency and security.</p>
        <a href="" class="">Learn More</a>
      </div>
      <div class="text-center copyright">
        <div class=" text-center">
          <p class="">© 2025 AuditAI. All Rights Reserved.</p>
          <div class="">
            <a href="/privacy-policy" class="text-sm hover:underline">Privacy Policy</a>
            <a href="/terms" class="text-sm hover:underline">Terms & Conditions</a>
            <a href="/cookies" class="text-sm hover:underline">Cookie Policy</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}